body {
    margin: 0px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    line-height: 1.5;
    color: #000000;
    max-height: 629px;
}



*,
*:before,
*:after {
    box-sizing: border-box;
}

p {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: black;
}

.main {
    max-width: 100%;
    padding: 0 40px;
    width: 100%;
    height: 628px;
    display: flex;
    align-items: center;
    position: relative
}

.container {
    z-index: 9999;
    width: 100%;
    height: 540px;
    
    margin: auto;
    position: relative;
}

.background {
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
    height: 629px;
}

.background-background {
    z-index: 0;
    bottom: 0;
    position: absolute;
    height: 629px;
    right: 0;
}


.header {
    margin: 0 0 70px 0;
    top: 0
}

.logo {
    font-size: 72px;
}

.signature {
    font-size: 40px;
    color: #acacac;
}

.content {
    position: absolute;
    top: 40%;
    width: 1300px;
}

.table {
    font-size: 40px;
    width: 100%;
    color: #3a3a3a;
    display: grid;
    row-gap: 20px;
    grid-template-columns: 40% 60%;
}



.td {   
    align-items: center;  
    position: relative;
}

.table__container {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}



.table__icons {
    width: 50px;
    height: 50px;
    margin: 0 10% 0 0;
}

.contacts {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.cont_body {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.left {
    display: flex;
    align-items: center;
    width: 550px;
}

.soc {
    display: flex;
    align-items: center;
    width: 550px;
    justify-content: space-between;
}

.left__img {
    max-height: 60px;
}

.left__rectangle {
    max-width: 60px;
    align-self: center;
}

.right {
    display: flex;
    align-items: center;
}

.light_logo {
    height: 60px;
}

.dark_logo {
    display: none;
    height: 25px;
}







@media(max-width: 1710px) {
    .content {
        width: 84%;
        top: 40%;
    }

    .table {
        color: black;
        font-size: 40px;
        row-gap: 10px;
    }

    .logo {
        font-size: 60px;
    }

    .signature {
        font-size: 40px;
    }

    .light_logo {
        height: 50px;
    }

    .left__img {
        max-height: 50px;
    }

    
}

@media(max-width: 1500px) {
    .content {
        width: 75%;
    }

    .table {
        font-size: 30px;
        row-gap: 15px;
    }

    .table__container.c3 {
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .table__icons {
        width: 40px;
        height: 40px;
        margin: 0 5px 0 0;
    }
}

@media(max-width: 1300px) {
    .logo {
        font-size: 55px;
    }

    .signature {
        font-size: 25px;
    }

    .background {
        opacity: 0.6;
    }

    .content {
        width: 65%;
    }

    .table {
        font-size: 25px;
        
    }
}

@media(max-width: 1200px) {
    .content {
        top: 35%;
    }

    .table {
        grid-template-columns: 100%;
    }

    .table__container.c3 {
        margin: 0 0 25px 0;
    }
}


@media(max-width: 1000px) {
    .logo {
        font-size: 40px;
    }

    .signature {
        font-size: 22px;
        color: black;
    }

    .content {
        top: 30%;
    }

    .table {
        font-size: 25px;
    }

    .right {
        display: none;  
    }

    .left {
        width: 350px;
    }

    .left__rectangle {
        display: none;
    }

}

@media(max-width: 500px) {
    .container {
        height: 100%;
        padding: 30px 0 0 0;
    }

    .main {
        padding: 0 20px;
    }

    .logo {
        font-size: 35px;
    }
    
    .signature {
        font-size: 20px;
    }

    .content {
        width: 100%;
        top: 28%;
    }
    
    .table {
        font-size: 25px
    }

    .table__icons {
        height: 25px;
        width: 25px;
    }

    .contacts {
        width: 100%;
    }

    .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        bottom: 0;
    }

    .left__img {
        height: 35px;
    }

    .soc {
        width: 100%;
    }

    .soc__link {
        display: flex;
        align-items: flex-end;
    }

    .mobile_logo {
        width: 100%;
        display: flex;
        align-items: center;
        height: 75px;
    }

    .dark_logo {
        display: block;
        height: 20px;
    }


}


/*IE*/

.table {
    display: -ms-grid;
   -ms-grid-columns: 40% 60%;
}

.table__container.c1 {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
}

.table__container.c2 {
    -ms-grid-column: 2;
    -ms-grid-row: 1;    
}

.table__container.c3 {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
}

.table__container.c4 {
    -ms-grid-column: 2;
    -ms-grid-row: 2;
}


@media(max-width: 1200px) {
    .table {
        -ms-grid-columns: 100%;
    }

    .table__container.c1 {
        -ms-grid-column: 1;
        -ms-grid-row: 1;
    }
    
    .table__container.c2 {
        -ms-grid-column: 1;
        -ms-grid-row: 3;    
    }
    
    .table__container.c3 {
        -ms-grid-column: 1;
        -ms-grid-row: 2;
    }
    
    .table__container.c4 {
        -ms-grid-column: 1;
        -ms-grid-row: 4;
    }
}

